@keyframes slideIn {
  0% {
    transform: translateX(200%);
    opacity: 0;
  }
  100% {
    transform: translateX(100%);
    opacity: 1;
  }
}

.imgFind {
  animation: slideIn 0.4s ease-out forwards;
}
