@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NauryzRedKeds";
  src: url(./assets/fonts/NauryzRedKeds.woff2) format("woff2");
  font-style: medium;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
